<script src="./../../templates/Header/header.js"></script>
<link href="./../../templates/Header/header.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="./../../assets/js/list.json"> -->




<!--<nav class="navbar navbar-expand-lg navbar-light">-->
    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div id="id" class="header_list"></div>
        </div>
        <ul class="nav navbar-nav navbar-right align-items-center">
               
            <li class="logo border-end">
                
                <img src="./../../../assets/img/Honeywell_Logo_RGB_Red.png" alt="" style="height: 5.1vh; ">
            
            </li>
            <li class="ms-1">
                <span class="text-white"> Timestamp : <span id="datetime"></span></span>
            </li>
            
            
        </ul>
    </div>
</nav>