<script src="./../../templates/Header/header.js"></script>
<link href="./../../templates/Header/header.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="./../../assets/js/list.json"> -->




<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div id="id" class="header_list"></div>
        </div>
        <ul class="nav navbar-nav navbar-right">
               
            <li class="logo" style="height: 6vh;">
                <img src="./../../../assets/img/iocl.png" alt="" style="height: 5.1vh; background-color: transparent; margin-left: 0.4vw;">
                <span>Thurs 12/31/2009 1:35 p.m.</span>
            </li>
        </ul>
    </div>
</nav>