<link rel="stylesheet" href="./../../templates/ITTRequest/ITTRequest.css" />
<link href="./assets/css/styles.css" rel="stylesheet" />




<div class="container">
    <div class="col-md-10 mx-auto box_line">

        <p>ITT REQUEST</p>
        <hr class="new">

        <div class="col-md-12" style="inline-size:auto; width:100% ;">
            <button>Clear</button>
            <button>Delete</button>
            <button style=" margin-left: 52vh;">Close</button>
            <button>Save</button>
            <button>Report</button>

            <div class="col-md-12" style="inline-size:auto; width:100% ; padding-block-start: 3.2vh;">
                <table>
                    <tr>
                        <td style="padding-top: 5px;">ITT Request No</td>
                        <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                                <option>ITT1521</option>
                                <option></option>
                            </select></td>
                    </tr>

                    <tr>
                        <td style="padding: 0px;">ITT Request No</td>
                        <td class="text">ITT1521</td>
                        <td class="text">**************</td>
                    </tr>


                    <tr>
                        <td style="padding-top: 5px;">Supplier</td>
                        <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                                <option></option>
                                <option></option>
                            </select></td>
                    </tr>

                    <tr>
                        <td style="padding: 0px; ">Request Date & Time</td>
                        <td><input type="text" class="text1" style=" width: 25vh;;"></td>
                    </tr>

                    <tr>
                        <td style="padding: 0px;">Remarks</td>
                        <td><input type="text" class="text1"></td>


                    </tr>

                </table>
            </div>

            <div style="padding-top: 1.6vh; padding-left:8vh;">
                <table>
                    <tr>
                        <th style="text-align: center;">From Tank</th>
                        <th style="text-align: center;">To Tank</th>
                    </tr>
                    <tr>
                        <td class="text2"><select
                                style="color:black;width: 25vh;background-color: cyan; text-align: center;">

                                <option></option>
                                <option></option>
                            </select></td>
                        <td class="text2"><select
                                style="color:black;width: 25vh;background-color: cyan; text-align: center;">

                                <option>***</option>
                                <option></option>
                            </select></td>

                    </tr>


                </table>

            </div>

            <div class="col-md-12" style="inline-size:auto; width:100% ; padding-block-start: 3.2vh;">
                <table>
                    <tr>
                        <td>Product</td>
                        <td class="text" style="width: 14vh;">MS</td>
                    </tr>

                </table>


            </div>


            <div class="col-md-12" style="inline-size:auto; width:100% ; padding-block-start: 3.2vh;">

                <table>
                    <tr>
                        <th></th>
                        <th>Qty to be transfer</th>
                    </tr>
                    <tr>
                        <td>Natural Kl</td>
                        <td><input type="text" class="text1"></td>
                    </tr>

                    <tr>
                        <td style="padding: 0px;">KL @ 15</td>
                        <td><input type="text" class="text1"></td>
                    </tr>

                    <tr>
                        <td style="padding: 0px;">In MTS</td>
                        <td><input type="text" class="text1"></td>
                    </tr>





                </table>



            </div>








        </div>
    </div>





</div>