
<link rel="stylesheet"  href="./../../templates/ITTSummary/ITTSummary.css" />

</head>
<body class="background">

    <div class="center">
        <p>ITT SUMMARY</p>
        <hr class="new">
      
      <div class="col-md-12" style="inline-size:auto; width:100% ;">
        <button>Clear</button>
        
        <button >Remark</button>

        <button style=" margin-left: 52vh;">Report</button>
        
        <button >Save</button>
        
       </div>

       <div class="row">
        <div class="column">
         <table>
            <tr>
                <td style="padding-top: 5px;">Out Turn Summary No</td>
                <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                    <option></option>
                    <option></option>
                </select></td>
              </tr>
              <tr>
                <td style="padding: 0px;">Out Turn Summary No</td> 
                <th class="text"></th>
               
            </tr>
            <tr>
                <td style="padding-top: 5px;">ITT Request No</td>
                <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                    <option>12345</option>
                    <option></option>
                </select></td>
              </tr>
              <tr>
                <td style="padding-top: 5px;">ITT Type</td>
                <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                    <option>Provisional/Final</option>
                    <option></option>
                </select></td>
              </tr>
              <tr>
                <td style="padding: 0px;">Commodity Code</td> 
                <th class="text">HSD</th>
               
            </tr>
</table>
</div>

<div class="column">
    <table>

        <tr>
            <td style="padding-top: 5px;">Pump No</td>
            <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                <option></option>
                <option></option>
            </select></td>
          </tr>
          <tr>
            <td >Pump Start time</td> 
            <th><input type="text" class="text1"  ></th>
            </tr>

        <tr>
            <tr>
                <td >Pump Stop time</td> 
                <th><input type="text" class="text1"  ></th>
                </tr>
    
            <tr>
                <tr>
                    <td style="padding: 0px;">Request Date & time</td> 
                    <th class="text"></th>
                   
                </tr>




        </table>
        </div>
        </div>


        <div style="padding-top: 5vh; padding-left: 10vh;">

            <table>
                <tr>
                    <th ></th>
                    <th style="text-align: center;">From Tank</th>
                    <th  style="text-align: center;">To Tank</th>
                    <th style="text-align: center;">Loss/Gain</th>
                 </tr>

                <tr>
                    <td></td>
                    <td class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                        <option>T-1</option>
                        <option></option>
                    </select></td>
                    <td class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                        <option>T-2</option>
                        <option></option>
                    </select></td>
                    <td class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                        <option></option>
                        <option></option>
                    </select></td>





                </tr>
                <tr>
                    <td>Out Turn Number</td>
                    <td class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                        <option>T-1 2510221730</option>
                        <option></option>
                    </select></td>
                    <td class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                        <option>T-2 2510221730</option>
                        <option></option>
                    </select></td>
                    <td class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                        <option></option>
                        <option></option>
                    </select></td>

                </tr>
                <tr>
                    <td>Net Volume</td>
                  <td  class="text2" style="background-color:  rgb(248, 248, 152); ">500.000</td>
                  <td  class="text2" style="background-color:  rgb(248, 248, 152);">499.000</td>
                  <td  class="text2" style="background-color:  rgb(248, 248, 152);">-1.000</td>
                  
                  </tr>
                  <tr>
                    <td>Volume @ 15</td>
                  <td  class="text2" style="background-color:  rgb(248, 248, 152);">400.000</td>
                  <td  class="text2" style="background-color:  rgb(248, 248, 152);">399.200</td>
                  <td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.9.00</td>
                  
                  </tr>
                  <tr>
                    <td>Qty in MTs</td>
                  <td  class="text2" style="background-color:  rgb(248, 248, 152);">360.000</td>
                  <td  class="text2" style="background-color:  rgb(248, 248, 152);">359.280</td>
                  <td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.720</td>
                  
                  </tr>


              










             </table>
        </div>










</div>




















       </div>
