.background{

    background: rgb(201, 199, 199);

}

.center {
    text-align: center;
    font-weight: 700;
    border: 0.48vh solid black;
    width: 70%;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  
  }

  hr.new {
    border:  0.16vh solid black;
    margin-top: 2.4vh;
    
  }
  
  button {
    background-color: white;
     border: 0.16vh solid #999; /* set border to grey */
     border-radius: 1.6vh
     ;
    color: black; /* set text color */
     cursor: pointer; /* change cursor to pointer on hover */
   }
   .row{
    margin-left: 10vh;
    padding-top: 5vh;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 1.6vh;
    text-align: right;
     /* Should be removed. Only for demonstration */
  }
  
  
  .text{
        
    border-radius: 0px;
    border: 0.16vh solid #f0657c;
   background-color: rgb(248, 248, 152);
   border-collapse: collapse;
   text-align: center;
   width: 25vh;
    
  }
  .text1{
    border-radius: 0px;
    border: 0.16vh solid #f0657c;
   background-color: white;
   text-align: center;
   width: 25vh;
  

  }
  .text2{
    
    border: 0.16vh solid #f0657c;
  
  }