<link rel="stylesheet" href="./../../templates/MastertableSub/masterTable.css">
<script src="./../../templates/MastertableSub/pumpmaster.js"></script>
<main>
    <div class="container">
        <div class="col-md-10 mx-auto">


            <div class="MainBox" id="output">

                <div class="mainheading">
                    <h3 class="mt-2 text-capitalize">Pump Master</h3>
                </div>
                <div class="row py-3">
                    <div class="col-md-12 ">
                        <div class="top_heading">
                            <div class="d-flex gap-2">
                                <button>clear</button>
                                <button>delete</button>
                            </div>
                            <div class="d-flex gap-2">

                                <button id="download" id="download"> Report</button>

                                <button onclick="savedata()">save</button>
                            </div>
                        </div>

                        <!-- Scrollable modal -->


                        <!-- Modal 
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Understood</button>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <div class="tableData">
                            <div class="d-flex px-2 justify-content-end mb-3">
                                <button onclick="btnAdd()"><i class="fa fa-plus" aria-hidden="true"></i>add</button>
                                <!-- <input type="button" value="Remove" onclick="Remove(this)"/> -->
                            </div>
                            <table class="table table-bordered" id="pumpTable">
                                <thead>
                                    <tr>
                                        <th>Pump_name</th>
                                        <th>Product_name</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tfoot>
                                    <tr>
                                        <td>
                                            <input type="text" id="pump_name">
                                        </td>
                                        <td>
                                            <input type="text" id="product_name" >

                                        </td>
                                        
                                    </tr>
                                </tfoot>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>