<link rel="stylesheet"  href="./../../templates/UnloadingofCargo/UnloadingCargo.css" />
<link href="./assets/css/styles.css" rel="stylesheet" />

<div class="container">
    <div class="col-md-10 mx-auto box_line">
        <p style="text-align: center;">Unloading of Cargo</p>
        <hr class="new">
      
      <div class="col-md-12" style="inline-size:auto; width:100% ;">
        <button>Clear</button>
        
        <button >Remark</button>

        <button style=" margin-left: 52vh;">Report</button>
        <button >Save</button>
        
       </div>
       <div class="row">
        <div class="column">
            <table>
                <tr>
                    <td style="padding-top: 5px;">GP No</td>
                    <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">
    
                        <option></option>
                        <option></option>
                    </select></td>
                  </tr>
                  <tr>
                    <td style="padding: 0px;">GP No</td> 
                    <th class="text">GP1234</th>
                   
                </tr>
                <tr>
                    <td style="padding-top: 5px;">Vehicle No</td>
                    <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">
    
                        <option></option>
                        <option></option>
                    </select></td>
                  </tr>
                  <tr>
                    <td style="padding-top: 5px;">Driver Name</td>
                    <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">
    
                        <option></option>
                        <option></option>
                    </select></td>
                  </tr>
                  <tr>
                    <td style="padding-top: 5px;">Licence No</td>
                    <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">
    
                        <option></option>
                        <option></option>
                    </select></td>
                  </tr>
                  <tr>
                    <td >Entry Register No</td> 
                    <th><input type="text" class="text1" ></th>
                    </tr>
    
                <tr>
                    <tr>
                        <td >Entry Date & time </td> 
                        <th><input type="text" class="text1" ></th>
                        </tr>
        
                </table>

           </div>
           <div class="column">
            <table>
                <tr>
                    <th></th>
                    <th style="text-align:center;">Gate In</th>
                    <th style="text-align:center;">GateOut</th>

                </tr>
                <tr>
                    <td></td>
                    <td class="text1"><input type="text"></td>
                    <td class="text1"><input type="text"></td>

                </tr>
             </table>
             <table>
                <tr>
                    <td style="padding-top: 5px;">Commodity Code</td>
                    <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">
    
                        <option></option>
                        <option></option>
                    </select></td>
                  </tr>

                  <tr>
                    <td >Invoice No</td> 
                    <th><input type="text" class="text1" ></th>
                    </tr>
                    <tr>
                        <td >Invoice Date</td> 
                        <th><input type="text" class="text1" ></th>
                        </tr>
                        <tr>
                            <td style="padding-top: 5px;">Supplier</td>
                            <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">
            
                                <option></option>
                                <option></option>
                            </select></td>
                          </tr>
                          <tr>
                            <td style="padding-top: 5px;">Client Code</td>
                            <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">
            
                                <option></option>
                                <option></option>
                            </select></td>
                          </tr>   
</table>

</div>
  </div>


  <div style="padding-left: 16vh;">
      <table>
        <tr>
            <th ></th>
            <th style="text-align: center;">Challan Qty</th>
            <th  style="text-align: center;">Receipt Qty</th>
        </tr>
        <tr>
            <td >Temperature</td>
            <td class="text1"><input type="text"  ></td>
            <td  class="text1"><input type="text" ></td>
        </tr>
        <tr>
            <td >Density @ 15</td>
            <td  class="text1"><input type="text" ></td>
            <td  class="text1"><input type="text" ></td>
        </tr>


      </table>


  </div>

  <div style="padding-left: 16vh; padding-top: 5vh;">
    <table>
        <tr>
            <th>Natural KL</th>
            <th class="text1"><input type="text"></th>
            <th class="text1"><input type="text"></th>
        </tr>
        <tr>
            <th>KL @ 15</th>
            <th class="text1"><input type="text"></th>
            <th class="text1"><input type="text"></th>
        </tr>
        <tr>
            <th>In Mts</th>
            <th class="text1"><input type="text"></th>
            <th class="text1"><input type="text"></th>
        </tr>



        </table>
        </div>



        <div style="padding-left: 16vh; padding-top: 5vh;">
    <table>
        <tr>
            <td style="padding-top: 5px;">Unloading Location</td>
            <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                <option></option>
                <option></option>
            </select></td>
          </tr>
          <tr>
            <td style="padding-top: 5px;">Unloading Pump</td>
            <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

                <option></option>
                <option></option>
            </select></td>
          </tr>
          <tr>
            <td >Lab Certiciate No</td> 
            <th><input type="text" class="text1" ></th>
            </tr>
            <tr>
                <td >Laboratory Clearance </td> 
                <th class="text1"><input type="text"  ></th>
                <th class="text1"><input type="text"  ></th>
                </tr>
                <tr>
                    <td >Unloading </td> 
                    <th class="text1"><input type="text"></th>
                    <th class="text1"><input type="text"></th>
                    </tr>
                    <tr>
                        <td >Unloading by</td> 
                        <th><input type="text" class="text1" ></th>
                        </tr>




    </table>


  </div>











</div>
</div>