<script src="./../../templates/RcnGeneration/index.js"></script>

<main>
    <div class="container">
        <div class="col-md-10 mx-auto">

            <div class="MainBox">
                <div class="mainheading">
                    <h3 class="mt-2">rcn generation</h3>
                </div>
                <div class="row py-3">
                    <div class="col-md-11 mx-auto">
                        <div class="top_heading">
                            <div class="d-flex gap-2">
                                <button>clear</button>
                                <button>delete</button>
                            </div>
                            <div class="d-flex gap-2">
                                <button><span></span> close</button>
                                <button> Report</button>
                                <button onclick="saveFormdata()">save</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-11 ms-auto">
                        <form action="">
                            <div class="box">
                                <div class="form-controls mb-3">
                                    <label for="" class="col-md-2">RCN </label>
                                    <div class="d-flex">
                                        <input type="text" id="rcnNo">
                                        <input type="datetime-local" id="rcnDate">
                                    </div>
                                </div>
                                <div class="form-controls mb-3">
                                    <label for="" class="col-md-2">Supplier </label>
                                    <div class="d-flex">
                                        <input type="text" id="supplier">
                                    </div>
                                </div>
                                <div class="form-controls">
                                    <label for="" class="col-md-2">RR No & Date </label>
                                    <div class="d-flex">
                                        <input type="datetime-local" id="prfdate">
                                        <input type="datetime-local" id="prtdate">
                                    </div>
                                </div>
                                <div class="form-controls mb-3">
                                    <label for="" class="col-md-2">FNR No & Date </label>
                                    <div class="d-flex">
                                        <input type="datetime-local" id="fdate">
                                        <input type="datetime-local" id="tdate">
                                    </div>
                                    <div class="form-controls ms-auto">
                                        <label for="">Nos of Sick Wagon</label>
                                        <div class="d-flex">
                                            <input type="text" id="nossicke">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-controls mb-3">
                                    <label for="" class="col-md-2">RR Qty in MTs </label>
                                    <div class="d-flex">
                                        <input type="text" id="qty">
                                    </div>
                                </div>
                                <div class="form-controls mb-3">
                                    <label for="" class="col-md-2">Product </label>
                                    <div class="d-flex col-md-2">
                                        <select name="" id="" class="w-100">
                                            <option value="">MS</option>
                                            <option value="">HSD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-controls align-items-end">
                                    <label for="" class="col-md-2 fw-bold">Natural KL </label>
                                    <div class="d-flex">
                                        <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                                            <label for="b" class="fw-bold">Departure Qty</label>
                                            <input type="text" id="ndepartment" oninput="depcalculate()">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                                            <label for="b" class="fw-bold">Arrival Qty</label>
                                            <input type="text" id="narrival" oninput="depcalculate()">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                                            <label for="b" class="fw-bold">Difference</label>
                                            <input type="text" id="ndeff" disabled>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                                            <label for="b" class="fw-bold">Difference in %</label>
                                            <input type="text" id="ndeffper" disabled>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-controls">
                                    <label for="" class="col-md-2 fw-bold">KL @ 15 </label>
                                    <div class="d-flex">
                                        <input type="text" id="kdepartment" oninput="klcalculate()">
                                        <input type="text" id="karrival" oninput="klcalculate()">

                                        <input type="text" id="kdeff" disabled>

                                        <input type="text" id="kdeffper" disabled>

                                    </div>
                                </div>
                                <div class="form-controls">
                                    <label for="" class="col-md-2 fw-bold">In Mts </label>
                                    <div class="d-flex">
                                        <input type="text" id="idepartment" oninput="mitcalculate()">
                                        <input type="text" id="iarrival" oninput="mitcalculate()">

                                        <input type="text" id="ideff" disabled>

                                        <input type="text" id="ideffper" disabled>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>