@font-face {
  font-family: 'Signika-Medium';
  src: url('../../assets/fonts/Signika-Medium.ttf');
  src: url('../../assets/fonts/Signika-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signika-Light';
  src: url('../../assets/fonts/Signika-Light.ttf');
  src: url('../../assets/fonts/Signika-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body * {
  font-family: 'Signika-Light';
}



body.dark-theme {
  background-color: #f4f4f4;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.side_main {
  padding: 10px;
  width: 100%;
  margin-top: 30px;
}

.background {


  background: rgb(201, 199, 199);

}

.box_line {

  border: 0.48vh solid black;
  padding: 10px;

}

hr.new {
  border: 0.16vh solid black;
  margin-top: 0.4vh;

}

button {
  background-color: white;
  border: 0.16vh solid #999;
  /* set border to grey */
  border-radius: 1.6vh;
  color: black;
  /* set text color */
  cursor: pointer;
  /* change cursor to pointer on hover */
}




.text {

  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: rgb(248, 248, 152);
  border-collapse: collapse;
  text-align: center;
  width: 25vh;
  font-size: 13px;
  padding: 0;

}

.text1 {
  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: white;
  text-align: center;
  width: 20vh;
font-size: 13px;

}


.column {
  float: left;

  padding-left: 16vh;
}

.text2 {

  border: 0.16vh solid #f0657c;

}


/* Media  for rcn generation*/
@media (max-width:960px) {
  .MainBox .box .form-controls>div {
    flex-direction: column;
  }
}




button {
  background-color: white;
  border: 0.16vh solid #999;
  /* set border to grey */
  border-radius: 1.6vh;
  color: black;
  /* set text color */
  cursor: pointer;
  /* change cursor to pointer on hover */
}




.text {

  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: rgb(248, 248, 152);
  border-collapse: collapse;
  text-align: center;
  width: 25vh;

}

.text1 {
  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
}

.mainheading h3 {
  font-size: 16px;
  font-weight: bold;

}

.MainBox .top_heading {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.MainBox .top_heading button {
  border: 1px solid #999;
  background-color: #fff;
  padding: 2px 15px;
  text-transform: capitalize;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.MainBox .top_heading button span {
  width: 10px;
  display: block;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}


.MainBox .box .form-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.MainBox .box .form-controls .bg-yellow{
  background-color: #FFFF99;
}


.MainBox .box .form-controls select{
  padding: 5px;
  width: 100%;
  border-radius: 0;
  text-align: center;
  background-color: #00FFFF;
}
.MainBox .box .form-controls select option{
  background-color: #fff;
  border-radius: 0;
}

/* Media  for rcn generation*/
@media (max-width:960px) {
  .MainBox .box .form-controls>div{
    flex-direction: column;
  }
}




button {
  background-color: white;
  border: 0.16vh solid #999;
  /* set border to grey */
  border-radius: 1.6vh;
  color: black;
  /* set text color */
  cursor: pointer;
  /* change cursor to pointer on hover */
}




.text {

  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: rgb(248, 248, 152);
  border-collapse: collapse;
  text-align: center;
  width: 25vh;

}

.text1 {
  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: white;
  text-align: center;
  width: 20vh;



}


.column {
  float: left;


}

.text2 {

  border: 0.16vh solid #f0657c;

}