@font-face {
  font-family: 'Signika-Medium';
  src: url('../../assets/fonts/Signika-Medium.ttf');
  src: url('../../assets/fonts/Signika-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signika-Light';
  src: url('../../assets/fonts/Signika-Light.ttf');
  src: url('../../assets/fonts/Signika-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body * {
  font-family: 'Signika-Light';
}



body.dark-theme {
  background-color: #f4f4f4;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.side_main {
  padding: 10px;
  width: 100%;
  margin-top: 30px;
}

.background {


  background: rgb(201, 199, 199);

}

.box_line {

  border: 0.48vh solid black;
  padding: 20px;

}

hr.new {
  border: 0.16vh solid black;
  margin-top: 2.4vh;

}

button {
  background-color: white;
  border: 0.16vh solid #999;
  /* set border to grey */
  border-radius: 1.6vh;
  color: black;
  /* set text color */
  cursor: pointer;
  /* change cursor to pointer on hover */
}




.text {

  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: rgb(248, 248, 152);
  border-collapse: collapse;
  text-align: center;
  width: 25vh;

}

.text1 {
  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: white;
  text-align: center;
  width: 20vh;


}


.column {
  float: left;

  padding-left: 16vh;
}

.text2 {

  border: 0.16vh solid #f0657c;

}


/* Media  for rcn generation*/
@media (max-width:960px) {
  .MainBox .box .form-controls>div {
    flex-direction: column;
  }
}

.box_line {

  border: 0.48vh solid black;
  padding: 20px;

}

hr.new {
  border: 0.16vh solid black;
  margin-top: 2.4vh;

}

button {
  background-color: white;
  border: 0.16vh solid #999;
  /* set border to grey */
  border-radius: 1.6vh;
  color: black;
  /* set text color */
  cursor: pointer;
  /* change cursor to pointer on hover */
}




.text {

  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: rgb(248, 248, 152);
  border-collapse: collapse;
  text-align: center;
  width: 25vh;

}

.text1 {
  border-radius: 0px;
  border: 0.16vh solid #f0657c;
  background-color: white;
  text-align: center;
  width: 20vh;


}


.column {
  float: left;


}

.text2 {

  border: 0.16vh solid #f0657c;

}