<link href="./../../templates/left-sidebar/left-sidebar.css" rel="stylesheet" />
<script src="./../../templates/left-sidebar/left-sidebar.js"></script>
<div class="links-wrapper">
    <ul class="link-list">
        <li class="link-item"><a href="home.html" class="link"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="link-item"><a href="ITTRequestMain.html" class="link"><i class="fa fa-home" aria-hidden="true"></i> ITTRequest</a>
        </li>
    </ul>
</div>

<div class="sidebar-control" id="sidebar-control">
    <i id="control-icon" class="fa fa-caret-right" aria-hidden="true"></i>
</div>