
<link rel="stylesheet"  href="./../../templates/RakeOTRSummary/RakeUnloading.css" />
<link href="./assets/css/styles.css" rel="stylesheet" />



<div class="container">
    <div class="col-md-10 mx-auto box_line">
    <p>RAKE UNLOADING SUMMARY</p>
    <hr class="new">
  
  <div class="col-md-12" style="inline-size:auto; width:100% ;">
    <button>Clear</button>
    
    <button >Remark</button>

    <button style=" margin-left: 52vh;">Report</button>
    <button >Save</button>
   
   </div>
   <div class="row">
    <div class="column">
     <table>
        <tr>
            <td style="padding: 0px;">Survey No</td> 
            <th class="text"></th>
           
        </tr>
        <tr>
          <td style="padding-top: 5px;">RCN No</td>
          <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

              <option>12345</option>
              <option></option>
          </select></td>
        </tr>
        <tr>
          <td style="padding-top: 5px;">OTR Type</td>
          <td><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

              <option>Provisional/Final</option>
              <option></option>
          </select></td>
        </tr>

        <tr>
          <td style="padding: 0px;">Commodity Code</td> 
          <th class="text">HSD</th>
         
      </tr>
</table>
       </div>
  </div>

  <div style="padding-top: 5vh; padding-left: 10vh;">
      <table>
        
          <tr>
            <th>Tank Number</th>
            <th class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

              <option>T-1</option>
              <option></option>
          </select></th>
          <th class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

            <option>T-2</option>
            <option></option>
        </select></th>
        <th class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

          <option>T-3</option>
          <option></option>
      </select></th>
      <th class="text2"><select style="color:black;width: 25vh;background-color: cyan; text-align: center">

        <option></option>
        <option></option>
    </select></th>
            <th  class="text2" >Total Qty</th>


          </tr>
          <tr>
            <td>Net Volume</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152); ">1200.000</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">500.000</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">100.000</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);"></td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">1800.000</td>
          </tr>
          <tr>
            <td>Volume @ 15</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">1080.000</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">450.000</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">90.000</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);"></td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">1620.000</td>
          </tr>
          <tr>
            <td>Qty in MTs</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">864.000</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">360.000</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">72.000</td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);"></td>
          <td  class="text2" style="background-color:  rgb(248, 248, 152);">1296.000</td>
          </tr>
         </table>
</div>

<div style="padding-top: 5vh; padding-left: 10vh;">

  <table>
    <tr>
      <th ></th>
      <th style="text-align: center;">Departure Qty</th>
      <th  style="text-align: center;">Arrival  Qty</th>
      <th style="text-align: center;">OTR Qty</th>
      </tr>
      <tr>
        <td >Net Volume</td>
        <td  class="text2" style="background-color:  rgb(248, 248, 152); width: 25vh;">1810.000</td>
        <td  class="text2" style="background-color:  rgb(248, 248, 152);width: 25vh;">1805.000</td>
        <td  class="text2" style="background-color:  rgb(248, 248, 152);width: 25vh;">1800.000</td>
        
      </tr>
      <tr>
        <td >Volume @ 15</td>
        <td  class="text2" style="background-color:  rgb(248, 248, 152);">1629.000</td>
        <td  class="text2" style="background-color:  rgb(248, 248, 152);">1624.500</td>
        <td  class="text2" style="background-color:  rgb(248, 248, 152);">1620.000</td>
        
      </tr>
      <tr>
        <td >Qty in MTs</td>
        <td  class="text2" style="background-color:  rgb(248, 248, 152);">1303.200</td>
        <td  class="text2" style="background-color:  rgb(248, 248, 152);">1299.600</td>
        <td  class="text2" style="background-color:  rgb(248, 248, 152);">1296.000</td>
        
      </tr>
</table>

</div>

<div style="padding-top: 5vh; padding-left: 10vh;">
 <table>
  <thead>
<tr>
<th class="text2">summary</th>
<th colspan="3" class="text2">Inqty</th>
<th colspan="3" class="text2">In%</th>


</tr>
</thead>
<tbody>
  <tr>
    <td class="text2" ></td>
    <td class="text2">Arrival to Departure</td>
    <td class="text2">OTR to Departure</td>
    <td class="text2">OTR to Arrival</td>
    
    <td class="text2"> Arrival to Departure</td>
    <td class="text2">OTR to Departure</td>
    <td class="text2">OTR to Arrival</td>
    </tr>


    <tr>
<td  class="text2">Net Volume</td>
<td  class="text2" style="background-color:  rgb(248, 248, 152);">-5.000</td>
<td  class="text2" style="background-color:  rgb(248, 248, 152);">-10.000</td>
<td  class="text2" style="background-color:  rgb(248, 248, 152);">-5.000</td>
<td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.003</td>
<td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.006</td>
<td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.003</td>


    </tr>
    <tr>
      <td  class="text2">Volume @ 15</td>
      <td  class="text2" style="background-color:  rgb(248, 248, 152);">-4.500</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-9.000</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-4.500</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.003</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.006</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.003</td>
      
      
          </tr>
          <tr>
            <td  class="text2">Qty in MTs</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-3.600</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-7.200</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-3.600</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.003</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.006</td>
            <td  class="text2" style="background-color:  rgb(248, 248, 152);">-0.003</td>
            
            
                </tr>
</tbody>


 </table>




</div>








   </div>
</div>
 