
   
  
/* .row{
    margin-left: 10vh;
    padding-top: 5vh;
} */

   .column {
    float: left;
    width: 50%;
    padding-top: 2vh;
    text-align: right;
     /* Should be removed. Only for demonstration */
  }
 

  